.sd-table {
	width: 100%;
}

.sd-table .sd-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEEEEE;
	color: #212121;
	padding: 10px;

}

.sd-table .sd-header h2 {
	flex: auto
}

.sd-table .sd-header ul {}

.sd-table .sd-header ul li {
	display: inline-block;
	margin: 0 2px;
	cursor: pointer;
	padding: 3px;

}

.sd-table .sd-header ul li:hover {
	opacity: 0.7;
	background-color: #ffffff;
}

.sd-table .sd-header ul li svg {
	width: 20px;
	height: 20px;
}

.sd-table table {
	width: 100%;
	border-collapse: collapse;
	overflow: auto;
	width:100%;
}

.sd-table table tr {}

.sd-table table tr th,
.sd-table table tr td {
	border: 1px solid #E0E0E0;
	padding: 8px;
}

.sd-table table tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.sd-table table tr th {
	background-color: #ffffff;
	color: #212121;

}

.sd-table table tr th .th-heading {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sd-table table tr th .th-heading label {
	flex: auto
}

.sd-table table tr th .th-heading button {
	text-align: center;
	border: none;
	cursor: pointer;
	background: transparent;
}

.sd-table table tr th .th-heading button:hover {
	opacity: 0.7;
}

.sd-table table tr td {
	/* white-space: nowrap;
	max-width: 200px;

	overflow: hidden;
	text-overflow: ellipsis; */
}

.sd-table table.list tr .filter-tr {
	padding: 4px;
}

.sd-table table.card td-table{
	display: block;
} 

.sd-table table .td-card{
	display: none;
} 



/*--------------- Pagination -------------------*/
.sd-table .pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #E0E0E0;

}


.sd-table .pagination .paginate-page, 
.sd-table .pagination .paginate-row,
.sd-table .pagination .paginate-row-per-page {
	padding: 10px;
	border-right:1px solid #ccc
}

.sd-table .pagination .paginate-arrow {
	flex: auto;
	text-align: right;
	/* padding: 10px; */
}



.sd-table .pagination .paginate-arrow li {
	margin: 0 5px;
	display: inline-block;
}

.sd-table .pagination .paginate-arrow li button {
	padding: 0px 0px;
	background-color: transparent;
	color: #212121;

	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid transparent;
}

.sd-table .pagination .paginate-arrow li button:hover {
	border: 1px solid #E0E0E0;
	opacity: 0.7;
}

.sd-table .pagination .paginate-arrow li button:disabled {
	background-color: transparent;
	opacity: 0.1;
	border: 1px solid transparent;
}

.sd-table .pagination .paginate-clear {}

/* -------------------------------------------------------- */

.sd-table input {
	padding: 8px;
	border-radius: 4px;
	width: 100%;
	border: none;
	background-color: #f5f5f5;
	color: #212121;
	outline: 1px solid #f5f5f5;
}

.sd-table .sorting-color {
	background: #eee;
	border-left: 3px solid #eee;
	border-right: 3px solid #eee;
}

.sd-table .remove-sorting-color {
	background: none;
}

.sd-table .vi-visible {
	display: none;
	visibility: hidden;
}

.sd-table .vi-progress {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 110px;
}

.sd-table .vi-progress-bar {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	width: 100%;
	border-radius: 15px;
	margin-right: 10px;


}

.sd-table .vi-progress-bar p {
	background-color: #c7c7c7;
	color: #212121;
	border-radius: 15px;
	line-height: inherit;
}

.sd-table .vi-progress-bar span {
	flex: auto;
	text-align: right;
	font-size: 62%;

}

.sd-table .sd-image-avatar {
	width: 24px;
	height: 24px;
	border-radius: 500%;
}

.sd-table .no-data {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 110px;
}

.sd-table .no-data .reset {
	flex: auto;
	text-align: right;


}

.sd-table .no-data .reset button {
	padding: 0px 0px;
	background-color: transparent;
	color: #212121;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid transparent;
}

.sd-table .no-data .reset button:hover {
	border: 1px solid #E0E0E0;
	opacity: 0.7;
}


.loader {
	display: table-cell !important;
	height: 26px;
}

.loader p {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	height: 6px;
}

@keyframes placeHolderShimmer {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

/* poper Over menu for action */

.popover-div {
	position: relative;


}

.popover-div .popover-button {
	border: none;
	background: none;
	cursor: pointer;
}

.popover-div .popover-button:hover+.popover-item,
.popover-div .popover-item:hover {
	display: block;
}

.popover-div .popover-item {
	position: fixed;
	display: none;
	width: 200px;
	z-index: 999;
	overflow: auto;
	margin: -34px -0 0 -200px;
	border: 1px solid #ccc;
	background: white;
	border-radius: 4px;

}

.popover-div .popover-item li {
	list-style: none;
	border-bottom: 1px solid #ccc;
}

.popover-div .popover-item li p {
	padding: 10px;
}

.popover-div .popover-item li button {
	cursor: pointer;
	width: 100%;
	border: none;
	padding: 10px;
	background: transparent;
}

.popover-div .popover-item li button:hover {
	opacity: 0.7;
}


/* Display list type Table */

.sd-table table.list tr th,
.sd-table table.list tr td {
	border: none;
	border-bottom: 1px solid #E0E0E0;
}

.sd-table table.list tr .filter-tr {
	padding: 0px;
}

.sd-table table.list tr .filter-tr input {
	padding: 10px;
}


/* Display Cards type Table */

.sd-table table.card tr{
	border-radius: 5px;
}

.sd-table table.card thead,
.sd-table table.card .action-row {
	display: none;
}

.sd-table table.card tbody {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}

.sd-table table.card tbody tr,
.sd-table table.card tbody td {
	display: block;
	border: 0;
}

.sd-table table.card tbody td {
	padding: 4px;
}

.sd-table table.card tbody tr {
	position: relative;
	max-width: 200px;
	width: 200px;
	border: 1px solid #E7E7E7;
	padding: 8px;
	margin: 4px;
}

.sd-table table.card .sorting-color {
	background: none;
}

.sd-table table.card tbody tr:nth-child(even),
.sd-table table.card tbody tr:nth-child(odd) {
	background-color: #ffffff;
}


.sd-table table.card .td-card {
	display: flex;
	align-items: center;
  }
  
  .sd-table table.card .td-table  {
	display: none;
  }

  .sd-table table.card .td-card div {
	flex: 1;
	
	align-items: center;
  }

  /* Scroller Bar */

 .sd-table .scroll-bar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #f5f5f5; /* or add it to the track */
  }
  
  /* Add a thumb */
.sd-table .scroll-bar::-webkit-scrollbar-thumb {
	background: #cccccc;
	border-radius: 30px;
}